@import '_variables';


body,
html {
  margin: 0 auto;
  font-family: $font-family-first;
  scroll-behavior: smooth;
  display: block;
}

.header {
  position: relative;
  z-index: 2;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: $color-white;

  &-logo {
    display: block;
    margin: 0 auto;
    height: 36px;
    padding-top: 14px;
    padding-bottom: 10px;
  }
}

div,
main {
  display: block;
}

//SECTION LOCALISATION MOBILE

.local {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 1rem;
  background-color: $fourth-color;
  z-index: 5;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  padding-bottom: 20px;
  padding-left: 99px;
  height: 15px;

  #localisation {
    background-color: $fourth-color;
    border: none;
    outline: none;
    font-size: 19px;
    font-weight: 900;
  }

  &-icon {
    margin-right: 1rem;
    width: 12px;
    height: 21px;
    font-size: 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.fa,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;

  &.fa,
  &.fas {
    font-weight: 900;
  }
}

section {
  display: block;
}


i {
  font-style: italic;
}

.local {
  &-icon {
    margin-right: 1rem;
  }

  &-text {
    font-weight: 500;
    font-family: $font-family-first;
    font-size: 16px;
  }
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

//SECTION HERO MOBILE

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  background-color: $color-background;

  &-title {
    margin: 0;
    font-family: $font-family-first;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $color-black;
    margin-top: 35px;
  }

  &-title-desktop {
    display: none;
  }

  &-subtitle {
    font-weight: 300;
    width: 315px;
    font-family: $font-family-first;
    margin-bottom: 50px;
  }

  &-btn {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 17px;
    border-radius: 100px;
    color: $color-white;
    background-color: $color-dark-grey;
    background-image: linear-gradient(0deg,
        rgba(147, 86, 220, 0.9),
        rgba(255, 121, 218, 0.9));
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 45px;

    &:hover {
      box-shadow: 0.35rem 0.35rem 15px rgba(0, 0, 0, 0.55);
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

//SECTION TUTO MOBILE

.tuto {
  padding: 2rem 1rem;

  &-title {
    margin-bottom: 46px;
    font-family: $font-family-first;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &-steps {
    margin: 0;
    width: 100%;
    padding: 0;
    list-style: none;
    counter-reset: compteListe;
  }

  &-icon {
    margin-right: 23px;
    margin-left: 34px;
    color: $color-grey;

    &:hover {
      cursor: pointer;
    }

    &.last {
      color: $primary-color;
    }
  }

  &-step {
    padding: 1.5rem;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 1.25rem;
    background-color: $color-background;
    display: flex;
    position: relative;
    margin-right: 20px;
    margin-bottom: 27px;
    align-items: center;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      counter-increment: compteListe 1;
      content: counter(compteListe) ' ';
      background: $primary-color;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-white;
      position: absolute;
      left: -0.75rem;
    }
  }
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.fa-store {
  content: '\f54e';
}

//SECTION RESTAURANTS MOBILE
.restaurants {
  background-color: $color-background;
  padding: 2rem 1rem;
  padding-top: 40px;
}

//SECTION CARDS MOBILE

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  margin-bottom: 50px;

  .card {
    background-color: $color-white;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;

    &-img {
      height: 16rem;
      width: 100%;
      border: 0 solid transparent;
      border-radius: 1rem 1rem 0 0;
      box-shadow: none;
      object-fit: cover;
    }

    &-sticker {
      background-color: $third-color;
      color: $color-dark-green;
      font-family: $font-family-first;
      font-size: 14px;
      padding: 0.5rem;
      border-radius: 0.125rem;
      position: absolute;
      top: 1rem;
      right: 0.75rem;
    }

    &-content {
      height: 90px;
    }

    &-title {
      margin: 22px 10px 0.25rem;
      font-family: $font-family-first;
      font-size: 19px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-bottom: 10px;
      margin-left: 18px;
    }

    &-subtitle-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-subtitle {
      margin: 0 10px 0.25rem;
      font-family: $font-family-first;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: 18px;
    }
  }
}

.text {
  font-family: $font-family-first;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

//SECTION BOUTON MENU LIKE MOBILE

.menu-btn {
  height: 2rem;
  width: 2rem;
  background-color: initial;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: $color-black;
}

.like {
  margin-right: 10px;
  font-size: 14px;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  right: 10px;
  z-index: 2;
  bottom: 66px;

  i {
    font-size: 24px;
    color: white;
    transition: all 0.6s ease-in-out;
    -webkit-text-stroke: 1px black;

    &:hover {
      background: linear-gradient(to right, #ff79da, #9356dc);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-stroke: 0px #9356dc;
      cursor: pointer;
      transform: scale(1.5);
    }
  }
}

.far {
  font-weight: 400;
}

.fa-2x {
  font-size: 2em;
  margin-right: 10px;
}

.footer {
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 30px;

  &-logo {
    color: $color-white;
    font-family: $font-family-second;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    margin-left: 10px;
  }

  &-list {
    list-style: none;
    padding: 0;

    &-content {
      margin: 0.5rem 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &-icon {
    width: 1.2rem;
    margin-right: 0.5rem;
    color: $color-white;
  }

  &-link {
    text-decoration: none;
    color: $color-white;
    margin-left: 10px;
  }
}

/* RESPONSIVE DESKTOP MEDIA QUERIES*/
html,
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  body {
    margin: 0 auto;
  }

  .header-logo {
    display: block;
    margin: 0 auto;
    height: 36px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  //SECTION LOCALISATION DESKTOP

  .local {
    #localisation {
      background-color: #eaeaea;
      border: none;
      outline: none;
      font-size: 18px;
      font-weight: 900;
    }

    .local-icon {
      margin-right: 1rem;
    }
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  //SECTION HERO DESKTOP

  .hero {
    .hero-title {
      display: none;
    }

    .hero-title-desktop {
      display: inline;
      text-align: center;
      font-family: $font-family-first;
      font-size: 34px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 0 auto;
      margin-top: 5%;
    }

    .hero-subtitle {
      font-weight: 300;
      width: 100%;
      margin-top: 35px;
      font-style: normal;
      font-family: $font-family-first;
      line-height: normal;
      font-size: 17px;
    }

    .hero-btn {
      margin-right: 20px;
      margin-left: -10px;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition-duration: 1s;
        box-shadow: 0.35rem 0.35rem 15px rgba(0, 0, 0, 0.55);
      }
    }
  }

  //SECTION TUTO DESKTOP

  .tuto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 7px;
    padding-left: 10%;

    &-title {
      margin-top: 41px;
      margin-bottom: 2px;
    }

    &-steps {
      display: flex;
      align-items: flex-start;
      margin-top: 25px;
      width: 92%;
    }

    &-step {
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      border-radius: 1.25rem;
      background-color: $color-background;
      display: flex;
      position: relative;
      height: 15px;
      margin-right: 36px;
      margin-bottom: 24px;
      align-items: center;
      width: 100%;
    }

    &-icon {
      margin-right: 23px;
      margin-left: 12px;
      color: $color-grey;

      &:hover {
        cursor: pointer;
      }
    }
  }

  //SECTION RESTAURANTS DESKTOP

  .restaurants {
    background-color: $color-background;
    padding: 0 10%;
    padding-bottom: 30px;

    &-title {
      padding-top: 50px;
    }
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
    gap: 60px;
  }

  .card {
    &-content {
      height: 66px;
      width: 384px;
      display: contents;
    }

    &-img {
      height: 231px;
      width: 100%;
      border: 0 solid transparent;
      border-radius: 1rem 1rem 0 0;
      box-shadow: none;
      object-fit: cover;
    }

    &-title {
      position: relative;
      font-family: $font-family-first;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-left: 18px;
      margin-top: 15px;

      .like {
        top: -20px;
        right: 10px;
        z-index: 2;
      }
    }

    &-subtitle {
      font-family: $font-family-first;
      font-size: 17px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin-bottom: 12px;
      margin-left: 18px;
      height: 24px;
    }
  }

  .like {
    margin-right: 10px;
    font-size: 14px;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 61px;
    z-index: 2;

    i {
      font-size: 24px;
      color: white;
      transition: all 0.6s ease-in-out;
      -webkit-text-stroke: 1px black;
      margin-top: 15px;
    }
  }

  .fa-2x {
    margin-bottom: 5px;
    margin-top: 18px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 114px;
  }

  .footer-logo {
    color: #fff;
    font-family: $font-family-second;
    font-weight: 400;
    font-style: normal;
    width: 139px;
    margin-left: auto;
    display: flex;
    order: 2;
    font-size: 1.5em;
    margin-right: 50px;
  }

  .footer-list {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    gap: 10px;
  }

  .footer-list-content {
    font-family: $font-family-first;
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
  }
}

.mentions-legales {
  margin-left: 20px;
}

//ANIMATION WAITING
body,
html {
  height: 100%;
  margin: 0;
}

.page-content {
  position: relative;
  height: 100%;
}

.main-container {
  opacity: 0;
  animation: fadeIn 0s cubic-bezier(0.19, 1, 0.22, 1) 3s forwards;
}

.animation-waiting {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ADD8E6; // Couleur de fond fixe en bleu clair
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  animation: fadeOutLoader 1s cubic-bezier(0.19, 1, 0.22, 1) 3s forwards;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOutLoader {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//TRANSITION LOGO A L OUVERTURE
@keyframes containerDezoom {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

.header-logo {
  animation: containerDezoom 5s forwards;
  display: flex;
  justify-content: center;
  height: 36px;
  margin-bottom: 10px;
  transition: all 5s;
  margin: 0 auto;
  // Transition progressive pendant 5s 
  border: none;

  body.animation-active & {
    transform: scale(1.5);
  }
}