//IMPORTATION VARIABLES
@import '_variables';

.header {
  &--menupage {
    position: relative;
  }

  &--previous {
    position: absolute;
    margin-left: 17px;
    height: 0;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    color: black;
  }
}

//LOGO HEADER
.header-logo {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 14px 89px 13px 17px;
  height: 36px;

  img {
    display: flex;
    max-width: 375px;
    margin-left: 50px;
    align-items: center;
    padding: 0px 19px 0px 16px;
  }
}

//IMAGE RESTAURANT
.restaurant-img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

// CONTAINER
.container {
  margin-top: -2rem;
  border-radius: 2rem 2rem 0 0;
  background-color: $color-background;
  z-index: 1;
  position: relative;

  &__page {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-family: $font-family-second;
  }

  &__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: black;

    &:hover::before {
      opacity: 1;
    }

    &::before {
      opacity: 0;
      transition: 0.5s;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(0deg,
          $primary-color 0%,
          $secondary-color 100%);
    }
  }

  &__like:hover {
    background-color: $color-background;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten;
  }

  &__btn:hover {
    .menu__like {
      &--noBg {
        opacity: 0;
      }
    }
  }
}

.menu__entete {
  display: flex;
  justify-content: space-between;
}

.menu__btn {
  margin-right: 41px;
  border: none;
  background-color: inherit;
}

.page__title {
  font-family: $font-family-second;
  font-size: 28px;
  margin-left: 12px;
  font-style: normal;
  font-weight: 400;
  margin-top: 32px;
}

.entrees__title {
  border-bottom: 5px solid $third-color;
  width: 10%;
  padding-bottom: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 40px;
}

.menu-contenu {
  background-color: white;
  padding: 15px;
  border-radius: 0.75rem;
  margin: 10px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 45px;
}

.menu__description,
.menu__prix p {
  margin: 0;
}

.menu__title {
  overflow: hidden;
  color: $color-black;
  text-overflow: ellipsis;
  font-family: $font-family-first;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: contents;
}

.footer-btn {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 186px;
    height: 50px;
    border: 0;
    background-image: linear-gradient((193deg, #9356dc -11.44%, #ff79da 123.93%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    border-radius: 100px;
    color: $color-white;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
  }
}

.menu__prix {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: $color-dark;
}

.footer-logo {
  color: $color-white;
  font-family: $font-family-second;
  font-size: 22px;
  font-weight: 900;
  font-style: italic;
  margin-left: 10px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list-content:first-child {
  margin-top: 0;
}

.footer-list-content {
  margin: 0.5rem 0;
}

.footer-icon {
  width: 1.2rem;
  margin-right: 0.5rem;
  color: $color-white;
}

.footer-link {
  text-decoration: none;
  color: $color-white;
  margin-left: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 30px;
}

/* RESPONSIVE DESKTOP MEDIA QUERIES*/
html,
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  body {
    margin: 0 auto;
  }

  .header--previous {
    position: absolute;
    margin-left: 17px;
    height: 0;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: black;
  }

  .header {
    display: block;
    margin: auto;

    &-logo {
      img {
        height: 34px;
      }
    }
  }

  //IMAGE RESTAURANT
  .restaurant-img {
    width: 100%;
    object-fit: cover;
    height: 350px;
  }

  .restaurants-title {
    gap: 2vw;
  }

  .container {
    width: 70%;
    margin: 0 auto;
    margin-top: -25px;


    .menu-contenu {
      background-color: white;
      padding: 15px;
      border-radius: 1.3rem;
      margin: 10px;
      box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
      cursor: pointer;
      height: 45px;
      margin-top: 20px;
      width: 110%;
    }

    .menu__entete {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
      margin-bottom: 40px;
    }

    .page__title {
      font-family: $font-family-second;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 50px;
      height: auto;
      margin-left: 75px;
    }

    .menu__btn {
      margin-top: 25px;
      height: auto;
    }

    .heart-empty img {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .submenus {
      width: 60%;
      margin: 0 auto;

    }

    .entrees__title {
      border-bottom: 5px solid #99e2d0;
      width: 10%;
      text-transform: uppercase;
      padding-bottom: 10px;
      font-family: $font-family-first;
      font-weight: 300;
    }

    .menu__title {
      overflow: hidden;
      color: #000;
      text-overflow: ellipsis;
      font-family: $font-family-first, cursive;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: contents;
    }

    .menu__description {
      overflow: hidden;
      color: #000;
      text-overflow: ellipsis;
      font-family: $font-family-first;
      font-size: 15px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      display: contents;
    }

    .menu__prix {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
    }
  }

  .footer-btn button {
    width: 186px;
    height: 50px;
    border: 0;
    background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    margin: 0 auto;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 114px;
  }

  .footer-logo {
    color: #fff;
    font-family: $font-family-second;
    font-weight: 400;
    font-style: normal;
    width: 139px;
    margin-left: auto;
    display: flex;
    order: 2;
    font-size: 1.5em;
    margin-right: 50px;
  }

  .footer-list {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    gap: 10px;
  }

  .footer-list-content {
    font-family: $font-family-first;
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
  }
}

.mentions-legales {
  margin-left: 20px;
}