//IMPORTATION VARIABLES
@import '_variables';


.header {
  &--menupage {
    position: relative;
  }

  &--previous {
    position: absolute;
    margin-left: 17px;
    height: 0;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    color: black;
  }
}

//LOGO HEADER
.header-logo {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 14px 89px 13px 17px;
  height: 36px;

  img {
    display: flex;
    max-width: 375px;
    margin-left: 50px;
    align-items: center;
    padding: 0px 19px 0px 16px;
  }
}

//IMAGE RESTAURANT
.restaurant-img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

// CONTAINER
.container {
  margin-top: -2rem;
  border-radius: 2rem 2rem 0 0;
  background-color: $color-background;
  z-index: 1;
  position: relative;

  .fa-heart {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;

  }


  &__page {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-family: $font-family-second;
  }


}

.menu__entete {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;

}

.menu__btn {
  border: none;
  background-color: inherit;
  font-size: 24px;
  color: white;
  transition: all 0.6s ease-in-out;
  -webkit-text-stroke: 1px black;
  display: inline-block;

}



.menu__btn:hover i {
  background: linear-gradient(to right, #ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px #9356dc;
  cursor: pointer;
  transform: scale(1.5);
  transition: all 0.6s ease-in-out;
}

.page__title {
  font-family: $font-family-second;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  padding-top: 20px;
  margin: 0 auto;
  display: inline-block;
}

.entrees__title {
  border-bottom: 5px solid $third-color;
  width: 10%;
  padding-bottom: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 40px;
}

.menu-contenu {
  background-color: white;
  padding: 15px;
  border-radius: 0.75rem;
  margin: 10px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 45px;
  animation: SlideDown 0.9s ease-in-out;
}

.menu__description,
.menu__prix p {
  margin: 0;
}

.menu__title {
  overflow: hidden;
  color: $color-black;
  text-overflow: ellipsis;
  font-family: $font-family-first;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: contents;
}

.footer-btn {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 186px;
    height: 50px;
    border: 0;
    background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    color: $color-white;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      box-shadow: 0.35rem 0.35rem 15px rgba(0, 0, 0, 0.55);
      cursor: pointer;
      transform: scale(1.1);
      transition-duration: 0.6s;
    }
  }
}

.menu__prix {
  display: flex;
  justify-content: space-between;
}

.menu-check {
  background-color: #99E2D0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 65px;
  transform-origin: right 50%;
  border-radius: 0px 20px 20px 0px;
  transform: translateX(65px);
  overflow: hidden;
  transition-duration: 0.5s;

}

.menu-contenu> :nth-of-type(1) {
  animation: SlideDown 0.9s ease-in-out;
}

.menu-contenu> :nth-of-type(2) {
  animation: SlideDown 1.2s ease-in-out;
}

.menu-contenu> :nth-of-type(3) {
  animation: SlideDown 1.5s ease-in-out;
}

.menu-contenu> :nth-of-type(4) {
  animation: SlideDown 1.8s ease-in-out;
}

@keyframes SlideDown {
  from {
    transform: translateY(70px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.footer {
  background-color: $color-dark;
}

.footer-logo {
  color: $color-white;
  font-family: $font-family-second;
  font-size: 22px;
  font-weight: 900;
  font-style: italic;
  margin-left: 10px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list-content:first-child {
  margin-top: 0;
}

.footer-list-content {
  margin: 0.5rem 0;
}

.footer-icon {
  width: 1.2rem;
  margin-right: 0.5rem;
  color: $color-white;
}

.footer-link {
  text-decoration: none;
  color: $color-white;
  margin-left: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 30px;
}

/* RESPONSIVE DESKTOP MEDIA QUERIES*/
html,
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  body {
    margin: 0 auto;
  }

  .header--previous {
    position: absolute;
    margin-left: 17px;
    height: 0;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: black;
  }

  .header {
    display: block;
    margin: auto;

    &-logo {
      img {
        height: 34px;
      }
    }
  }

  //IMAGE RESTAURANT
  .restaurant-img {
    width: 100%;
    object-fit: cover;
    height: 350px;
  }

  .restaurants-title {
    gap: 2vw;
  }

  .container {
    width: 70%;
    margin: 0 auto;
    margin-top: -25px;


    .menu-contenu {
      background-color: white;
      padding: 15px;
      border-radius: 1.3rem;
      margin: 10px;
      box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
      cursor: pointer;
      height: 45px;
      margin-top: 20px;
      width: 110%;
      animation: SlideDown 0.9s ease-in-out;
    }

    .menu__entete {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
      margin-bottom: 40px;
    }

    .page__title {
      font-family: $font-family-second;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-top: 20px;
      display: inline-block;
      margin: 0;
    }

    .menu__btn {
      margin-top: 25px;
    }

    .submenus {
      width: 60%;
      margin: 0 auto;
    }

    .entrees__title {
      border-bottom: 5px solid #99e2d0;
      width: 10%;
      text-transform: uppercase;
      padding-bottom: 10px;
      font-family: $font-family-first;
      font-weight: 300;
    }

    .menu__title {
      overflow: hidden;
      color: #000;
      text-overflow: ellipsis;
      font-family: $font-family-first, cursive;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: contents;
    }

    .menu__description {
      overflow: hidden;
      color: #000;
      text-overflow: ellipsis;
      font-family: $font-family-first;
      font-size: 15px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      display: contents;
    }

    .menu__prix {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      align-items: center;
    }

    .menu__prix p {
      margin: 0;

    }

  }

  .prix {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }


  .footer-btn {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 186px;
      height: 50px;
      border: 0;
      background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      border-radius: 100px;
      color: #fff;
      font-size: 1.1rem;
      font-weight: 500;
      cursor: pointer;
      margin: 0 auto;

      &:hover {
        box-shadow: 0.35rem 0.35rem 15px rgba(0, 0, 0, 0.55);
        cursor: pointer;
        transform: scale(1.1);
        transition-duration: 0.6s;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 114px;
  }

  .footer-logo {
    color: #fff;
    font-family: $font-family-second;
    font-weight: 400;
    font-style: normal;
    width: 139px;
    margin-left: auto;
    display: flex;
    order: 2;
    font-size: 1.5em;
    margin-right: 50px;
  }

  .footer-list {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    gap: 10px;
  }

  .footer-list-content {
    font-family: $font-family-first;
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
  }
}

.mentions-legales {
  margin-left: 20px;
}