body,
html {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
  display: block;
  max-width: 375px;
  width: 100%;
}

.header-logo {
  width: 197px;
  height: 36px;
}

.restaurantContainer {
  border: 2px solid yellow;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImg {
  width: 375px;
  height: 275px;
}

.titre-page {
  display: flex;
  border: 2px solid blue;
  justify-content: space-between;
  align-items: center;
}

.entrees {
  display: flex;
  border: 2px solid green;
}

.bloc-prix {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entree1 {
  border: 2px solid orange;
}

.entree2 {
  border: 2px solid orange;
}

.entree3 {
  border: 2px solid orange;
}
