@import '/Users/jerome/Desktop/FORMATION/Projets/ohmyfood/sass/_variables.scss';

.footer-btn {
   height: 150px;
   display: flex;
   justify-content: center;
   align-items: center;

   button {
      background: linear-gradient(#ff79da, #9356dc);
      border-radius: 25px;
      height: 50px;
      color: #eaeaea;
      font-weight: 500;
      font-size: 16px;
      padding-left: 50px;
      padding-right: 50px;
      margin-bottom: 0px;
      border: 0px;
      cursor: pointer;
      transition: opacity 500ms, box-shadow 500ms, filter 500ms; // Augmentation de la durée de transition à 500ms

      &:hover {
         box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
         filter: brightness(1.1); // Augmentation de la luminosité de 10% lors du survol
      }
   }
}