@import '/Users/jerome/Desktop/FORMATION/Projets/ohmyfood/sass/_variables.scss';

.hero-btn {
   margin-right: 20px;
   margin-left: -10px;
   text-decoration: none;

   &:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition-duration: 1s;
      box-shadow: 0.35rem 0.35rem 15px rgba(0, 0, 0, 0.55);
   }
}