.prix-check-wrapper1>p {
   transition: transform 300ms ease-in-out;
}

.menu-contenu1:hover .prix-check-wrapper>p {
   transform: translateX(-60px);
}

.menu-contenu1 .prix-check-wrapper1 .menu-check1 {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   width: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #99e2d0;
   border-radius: 0px 15px 15px 0px;
   overflow: hidden;
   transition: all 600ms ease-in-out;
   height: 100%;

}


.menu-contenu1 .prix-check-wrapper1 .menu-check1 .fa-check {
   color: #99e2d0;
   background-color: white;
   border-radius: 100%;
   font-size: 15px;
   padding: 5px;
}

.menu-contenu1 .menu__prix1 .menu-check1 {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   width: 0px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #99e2d0;
   border-radius: 0px 15px 15px 0px;
   overflow: hidden;
   transition: all 300ms ease-in-out;
}

.menu-contenu1:hover .prix-check-wrapper1 .menu-check1 {
   width: 60px;
   border-radius: 0 0.75rem 0.75rem 0;
}

@keyframes rotateCheck {
   0% {
      transform: rotate(0deg);
   }

   50% {
      transform: rotate(-180deg);
   }

   100% {
      transform: rotate(-360deg);
   }
}

.menu-contenu1:hover .prix-check-wrapper1 .menu-check1 .fa-check {
   animation: rotateCheck 600ms forwards;
}